.App {
  text-align: center;
  background: linear-gradient(227.1deg, #1B2F9C 0.7%, rgba(0, 0, 0, 0.58) 94.43%);
}

.Header {
  background: linear-gradient(227.1deg, #1B2F9C 0.7%, rgba(0, 0, 0, 0.58) 94.43%);
  height: 600px;
  display: flex;
  padding-left: 40px;
  padding-top: 100px;
}

.Header h1 {
  color:#00CFA9;
}

.Skills {
  color: black;
  background-color: #FFFADE;
  height: 500px;
}

.About {
  background-color: #00CFA9;
  height: 500px;
}

.Portfolio {
  background: linear-gradient(227.1deg, #1B2F9C 0.7%, rgba(0, 0, 0, 0.58) 94.43%);
  height: 1000px;
}

